.custom-shape-divider-bottom-1638633621 {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1638633621 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 126px;
}

.custom-shape-divider-bottom-1638633621 .shape-fill {
  fill: #f4f4f4;
}
